# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache / logs
*.log
*.tmp

# Generated model files
models/*_taxi_model.joblib
models/*_random_search.csv
models/model_comparison.csv
models/all_model_test_comparison.csv

# Keep final model
!models/final_gradient_boosting_taxi_model.joblib
!models/final_model_config.json

# Hidden test data
Data/test.csv
